.homepage-banner {
    --container-padding: .5rem;
    --icon-width: 5rem;

    display: flex;
    overflow: hidden;
    justify-content: flex-start;

    height: 7rem;
    width: 100%;

    padding: var(--container-padding);
    border-radius: 9px;
}

.homepage-banner::before, .homepage-banner::after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.homepage-banner::before {
    content: '';

    background: linear-gradient(90deg, rgba(16, 19, 17, 0.20) 34.82%,
            rgba(84, 99, 133, 0.10) 69.2%,
            rgba(16, 19, 17, 0.20) 94.62%), url('../assets/images/streak.png');
    background-position: left 30% top 45%;
    background-size: cover;
    background-repeat: no-repeat;

    opacity: 0.7;
    filter: blur(1.5px);
}

.homepage-banner::after {
    content: 'Welcome Back';

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 3rem;

    animation: fade-out 1s both 500ms;
}

.flame-icon {
    flex-shrink: 0;
    width: var(--icon-width);
    animation: flame-rise-above 1.2s both calc(500ms + calc(var(--i) * 75ms));
}

.flame-icon:first-of-type {
    padding-left: .5rem;
    animation: flame-rise-within 500ms both calc(500ms + calc(var(--i) * 75ms));
}

@keyframes flame-rise-within {
    0% {
        transform: translateY(calc(100% + var(--container-padding)));
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes flame-rise-above {
    0% {
        transform: translateY(calc(100% + var(--container-padding)));
    }
    0%,
    20% {
        filter: invert(75%) contrast(200%) hue-rotate(40deg);
    }

    100% {
        filter: unset;
        transform: translateY(calc(-100% - var(--container-padding)));
    }
}

.welcome {
    position: absolute;
    top: 1.5rem;
    left: calc(var(--icon-width) + 1.5rem);

    text-align: start;
}

.welcome-message {
    animation: fade-in-left 500ms both 1.9s;
}

.streak
{
    font-size: 3rem;
    margin-top: -.5rem;
    animation: fade-in 500ms both 2s;
}

.fun-fact {
    display: flex;
    background-color: #1E2432;
    gap: .5rem;
}

.fact-name {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 1rem 1.5rem;
    background-color: #26262D;
    box-shadow: 7px 3px 22px 10px #101311;
    
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.25rem;
}

.fact-name>h4 {
    width: max-content;
    font-size: 1rem;
    color: hsla(42, 20%, 37%);
    margin-block: 0 .4rem;
}

.fact-name>.name {
    color: hsl(51, 100%, 90%);
}

.fact-text-container {
    width: 100%;
    align-items: center;
    text-align: start;
}

.fact-text-container .fact-text {
    margin: 1rem;
}

.fact-text-container.clip .fact-text {
    margin: 1rem 1rem 1.6rem 1rem;
}

.fact-text-container:not(.expand) .fact-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fact-text-container:not(.clip) .show-more {
    display: none;
}

.show-more {
    position: absolute;
    bottom: .2rem;
    right: .2rem;

    font-family: var(--font-secondary);
    color: var(--link);
    text-align: center;
}

.show-more:hover {
    color: var(--hover-link);
}

.songs {
    flex: 1;
    display: flex;
    gap: 10px;
}

/* layout aninmations for switching to home page */

.homepage-banner,
.fun-fact {
    animation: fade-in-down 500ms both;
}

.song-list {
    animation: fade-in-right 500ms both;
}

.song-list+.song-list {
    animation: fade-in-left 500ms both;
}


@keyframes fade-in-down {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-in-right {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fade-in-left {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}