.song {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr auto;
    background-color: #1E2432;
    text-align: start;
    gap: .25rem;
    padding: .25rem;
    overflow: hidden;
    margin-block: .4rem;

}

.song-title {
    grid-column: 1 / span 2;
    font-size: 1.3rem;
    font-family: "Maven Pro", sans-serif;
    text-decoration: underline;
    text-decoration-color: hsla(51, 34%, 76%, .5);
    padding: .25rem;
    box-shadow: 0px 0px 32px 10px hsla(230, 20%, 25%, .5);

    overflow: hidden; 
    text-overflow: ellipsis;
    white-space: nowrap;

}

.song-title:hover {
    color: var(--hover-link);
    text-decoration-color: var(--link)
}

.song-type {
    text-align: end;
}

.song>:not(.song-title) {
    font-family: var(--font-secondary);
    color: hsla(51, 34%, 76%, .7);
    z-index: 1;
}

.scroll-title {
    animation-name: scroll-title;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    overflow: visible; 
}

.rating {
    display: flex;
    align-items: center;
    gap: 2px;
}

.star {
    background-image: url('../assets/images/star.svg');
    background-size: contain;
    background-repeat: no-repeat;
    filter: invert(48%) sepia(100%) saturate(2050%) hue-rotate(19deg) brightness(93%) contrast(86%);
    height: var(--star-size);
    width: var(--star-size);
}

.star.half {
    background-position: left .6rem top 0px;
    margin-left: calc(var(--star-size) / -2);
}

.num-ratings{
    display: inline-block;
    font-size: .85rem;
    margin-inline: .3rem;
}

@keyframes scroll-title {
    0% {
        transform: translateX(0);
    }
  
    50% {
      transform: translateX(var(--scrollWidth));
    }
    100% {
        transform: translateX(0);
      }
  }

