html {
  box-sizing: border-box;
  color: #D6D0AC;
}

*, *::before, *>::after {
  box-sizing: inherit;
}

:root
{
  --link: hsl(222, 33%, 59%);
  --hover-link: hsl(222, 95%, 75%);

  --font-secondary: 'Julius Sans One', sans-serif;
} 

body {
  font-family: 'Kodchasan', sans-serif;
}

.page {
  height: 100vh;
  width: 100vw;
  background-color: rgb(24, 24, 24);
  position: relative;
  z-index: 1;
  
}

.page.explore .nav {
  background: rgba(24, 24, 24, 0.75);
}

.content {
  max-width: 900px;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: .4rem;
  padding: .4rem;
}

.background,
.background::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.background {
  background: url('./assets/images/anton-mislawsky-1B7vFqOn6og-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  z-index: -1;
  filter: blur(2px)
}

.background::after {
  background: linear-gradient(to bottom, hsla(258, 64%, 34%, 0.75), hsla(209, 27%, 50%, 0.75));
  animation: fade-in 5s both;
}

.blur-bg-image {
  animation: blur-bg 2s both 1s;
}

.hide-bg-image {
  animation: fade-out 550ms both;
}

.show-bg-image {
  animation: fade-in 550ms both;
}

.explore-title {
  padding-block: 10vh 10px;
  font-size: 3.5rem;
  letter-spacing: 1rem;
  overflow: hidden;
  white-space: collapse balance;
}

.explore-title.bring-letters-together {
  animation: bring-letters-together 1.5s backwards 1.5s ease-out;
}

.explore-blurb {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 1.3rem;
  letter-spacing: .2rem;
}

.page-load-fade-in {
  animation: fade-in 2s both 2s;
}

@keyframes bring-letters-together {
  0% {
    opacity: 0;
    letter-spacing: 10rem;
  }

  50% {
    opacity: 0;
  }

  100% {
    letter-spacing: 1rem;
    opacity: 1;
  }
}

@keyframes blur-bg {
  0% {
    filter: blur(0px);
  }

  100% {
    filter: blur(2px);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.link {
  color: var(--link);
}

.font-secondary {
  font-family: 'Julius Sans One', sans-serif;
}

