html {
  box-sizing: border-box;
  color: #D6D0AC;
}

*, *::before, *>::after {
  box-sizing: inherit;
}

:root
{
  --link: hsl(222, 33%, 59%);
  --hover-link: hsl(222, 95%, 75%);
  --font-secondary: 'Julius Sans One', sans-serif;
} 

body {
  font-family: 'Kodchasan', sans-serif;
  overflow-y: scroll;
}

.content {
  max-width: 900px;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: .4rem;
  padding: .4rem;
}


.bg-overlays,
.bg-overlays>.bg-explore,
.bg-overlays>.bg-explore::after,
.bg-library>.bg-half::after {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.bg-overlays {
  background-color: rgb(24, 24, 24);
}


/*  EXPLORE PAGE BACKGROUND *******************************************************/

/* background image layer */
.bg-explore {
  background: url('./assets/images/anton-mislawsky-1B7vFqOn6og-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  filter: blur(2px);
  animation: fade-in 550ms both;
}

/* gradient overlay */
.bg-explore::after {
  background: linear-gradient(to bottom, hsla(258, 64%, 34%, 0.75), hsla(209, 27%, 50%, 0.75));
}

/* on site load, bg image starts focused and blurs as page content become visible */
.init>.bg-overlays .bg-explore{
  animation: blur-bg 2s both 1s;
}

/* on site .load, fade in the gradient over the bg image */
.init>.bg-overlays .bg-explore::after {
  animation: fade-in 5s both;
}

/* fade out explore bg/gradient when switching pages */
.home-page .bg-explore, .library-page .bg-explore {
  animation: fade-out 550ms both;
}

/*  LIBRARY PAGE BACKGROUND *******************************************************/

/* hide on side load to not interfere with opening explore page animations */
.init .bg-library>.bg-half {
  visibility: hidden;
}

/* library bg consists of two images each taking up 50% of the screen */
.bg-library>.bg-half {
  visibility: visible;

  position: fixed;

  top: 0;
  bottom: 0;
  right: 50%;
  left: 0; 

  background-image: url('./assets/images/jakayla-toney-v8TzUCgzDFw-unsplash_cropped.jpg');
  background-position: right;
  background-size: cover;

  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;

  filter: contrast(75%);
  z-index: 2;
  backface-visibility: hidden;
}

/* push second image to the right side and rotate upside down */
.bg-half+.bg-half {
      right: 0;
      left: calc(50%);
      transform: rotate(180deg);
}

/* gardient overlay */
.bg-half::after {
  background: linear-gradient(to bottom, hsla(258, 85%, 30%, 0.75) 35%, hsla(219, 75%, 30%, 0.75));
} 

/* do another 180deg rotation no second psuedo element to align it with the gradient of first psuedo element */
.bg-half+.bg-half::after {
  transform: rotate(180deg);
} 

/* animations to move bg images into/out of the viewport when switching to/from the library page respectively */
.show .bg-half {
  animation-name: move-in-up;
}

.show .bg-half+.bg-half{
  animation-name: move-in-down;
}

.hide .bg-half {
  animation-name: move-out-left;
}

.hide .bg-half+.bg-half {
  animation-name: move-out-right;
}


@keyframes move-out-left {
  0% {
      transform: translateX(0);

  }
  100% {
      transform: translateX(-100%);
  }
}

@keyframes move-out-right {
  0% {
      transform: translateX(0) rotate(180deg);

  }
  100% {
      transform: translateX(100%) rotate(180deg);
  }
}

@keyframes move-in-up {
  0% {
      transform: translateY(100%);

  }
  100% {
      transform: translateY(0);
  }
}

@keyframes move-in-down {
  0% {
      transform: translateY(-100%) rotate(180deg);
  }
  100% {
      transform: translateY(0) rotate(180deg);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.link {
  color: var(--link);
}

.font-secondary {
  font-family: 'Julius Sans One', sans-serif;
}

